body {
  
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 6%,
    rgba(113, 113, 113, 0.5802696078431373) 98%
  );
  padding-bottom: 20px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  background-color: #4a494990;
}

.header-container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.header__logo {
  width: 60px;
}

.header__list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-list__item a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: #000;
}

.header-list__item-check {
  position: absolute;
  font-size: 15px;
  display: block;
  top: -15px;
  right: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header-list__item {
  position: relative;
}

.header__site-name {
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}